/* #countlabel{
  font-size: 10em;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.mybuttons{
  display: flex;
  justify-content: center;
}

.buttons{
  padding: 10px 10px;
  font-size: 2em;
  color: orange;
  background-color: black;
  border-radius: 10px;
  margin: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.buttons:hover{
  background-color: beige;
} */

/* RANDOM NUMBER GENERATOR */

/*body{
  text-align: center;
}

#myButton{
   font-family:'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: 3em;
   border-radius: 7px;
   padding: 10px 20px;
   cursor: pointer;
   background-color: black;
   color:white;
   transition: 0.4s;
}

#myButton:hover{
  background-color: orange;
}

.mylabels{
  font-size: 2em;
} */


/* TEMPERATURE CONVERSION PROGRAM */

/* body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(235, 228, 228);
}

h1{
  color: rgba(255, 0, 60, 0.542);
}

form{
  background-color: beige;
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 30px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

#textBox{
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 1em;
  border-radius: 7px;
  border-width: 0.1cap;
  margin-bottom: 15px;
}

label{
  font-size: 1.5em;
  font-weight: bold;
}

button{
  margin-top: 15px;
  background-color: rgb(247, 133, 133);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background-color: rgb(201, 99, 99);
}

#result{
  font-weight: bold;
  font-size: 1.5em;
} */



/* #container{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: auto;
}

button{
  font-size: 0.75em;
  padding: 10px 15px;
  border-radius: 10px;
  border:none;
  color: white;
  background-color: navy;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background-color:rgb(111, 111, 230);
}
button:active{
   background-color:rgb(111, 111, 230,60%);
}

input{
  font-size: 0.75em;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

body{
  max-height: 500px;
  max-width:100%;
}

#diceresult{
  margin: 10px;
}

#diceimages img{
  width: 150px;
  margin: 5px;
}
 */

/* body{
font-family: Arial, sans-serif;
background-color: hs1(0, 0%, 95%);
}

h1{

color:hs1(0, 0%, 30%);
font-size: 3em;
text-align: center;


}


form{
  background-color:white;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

label{
  font-size: 2em;
  font-weight: bold;
}

input{
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid hsl(0, 0%, 90%);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

button{
  background-color: hsl(120, 100%, 40%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover{
  background-color: hsl(120, 100%, 30%);
}

#total{
  font-size: 2em;
}

#total-amount{
  color: hsl(120, 100%, 35%);
  font-weight: bold
};


 */

/* body{
  margin: 0;
}

#clock-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock{
  font-family: monospace;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
} */



body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0, 90%);
}
#myH1{
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0, 25%);
  text-align: center;
}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  padding: 30px;
  background-color: white;
}

#display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0, 0, 30%);
  text-shadow: 2px 2px 2px hsla(0, 0, 0, 0.75);
  margin-bottom: 25px;
}

#controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

#startBtn{
  background-color: hsl(115,100%,40%);
  transition: 0.3s;
}
#startBtn:hover{
  background-color:hsl(115,10%,30%); ;
}
#stopBtn{
  background-color: hsl(0, 96%, 53%);
  transition: 0.3s;
}
#stopBtn:hover{
  background-color:hsl(115,10%,30%); ;
}
#resetBtn{
  background-color: hsl(257, 80%, 56%);
  transition: 0.3s;
}
#resetBtn:hover{
  background-color:hsl(115,10%,30%); ;
}